@import "root.css";

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../src/img/base.png);
}

.logo {
  font-family: "Gasoek One", sans-serif;
  font-size: 2.5rem;
  color: var(--green-100);
}

.contrast-logo {
  font-family: "Gasoek One", sans-serif;
  font-size: 2.5rem;
  display: inline-block;
  color: var(--green-300);
  -webkit-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: var(--green-100);
}

.title {
  font-family: "Gasoek One", sans-serif;
  font-size: 6rem;
  color: var(--green-100);
  max-width: 94rem;
  text-align: center;
  margin-bottom: 4rem;
}

.contrast {
  font-family: "Gasoek One", sans-serif;
  font-size: 6rem;
  display: inline-block;
  color: var(--green-300);
  -webkit-text-stroke-width: 0.25rem;
  -webkit-text-stroke-color: var(--green-100);
  animation: pulse 2s linear infinite;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--green-100);
  color: var(--green-300);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.2s linear;
  margin-bottom: 1rem;
}

.button > i {
  font-size: 2.5rem;
}

.button:hover {
  background-color: var(--green-300);
  color: var(--green-100);
}

.link {
  font-size: 1.5rem;
  color: var(--green-100);
  transition: 0.2s linear;
}

.link:hover {
  color: var(--green-300);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
